.markdown-preview-view img {
  display: block;
  margin-top: 15pt;
  margin-bottom: 15pt;
  margin-left: auto;
  margin-right: auto;
  width: 45%; /* experiment with values */
  transition: transform 0.25s ease;
}

.markdown-preview-view img:hover {
  -webkit-transform: scale(1.8); /* experiment with values */
  transform: scale(1.4);
}
